version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      # Discord Bot
      - BOT_TOKEN=${BOT_TOKEN:?Set BOT_TOKEN in your environment or .env}
      - GUILD_ID=${GUILD_ID:-}
      - REMOVE_COMMANDS=${REMOVE_COMMANDS:-false}
      # AWS S3 Bucket
      - ACCESS_KEY=${ACCESS_KEY:-}
      - SECRET_KEY=${SECRET_KEY:-}
      - S3_BUCKET=${S3_BUCKET:-}
      - S3_REGION=${S3_REGION:-us-east-1}
      - S3_ENDPOINT=${S3_ENDPOINT:-}
      - S3_PREFIX=${S3_PREFIX:-}
      # Discord OAuth2.0
      - CLIENT_ID=${CLIENT_ID:-}
      - CLIENT_SECRET=${CLIENT_SECRET:-}
    ports:
      - "3000:3000"
    volumes:
      - ./sqlite.db:/app/sqlite.db
      - ./.env:/app/.env
